:root {
  --margin-for-header: calc(4rem + 3rem);
  --margin-for-footer: calc(2rem + 3rem);
}
body {
  background: #f8f6ef;
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
}
#titleOutside {
  background: #2a476f;
  color: #ffffff;
  text-align: center;
  padding: 1rem 0;
}
#title {
  margin: 0;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0 1rem 1rem 1rem;
  background-color: #f8f6ef;
  z-index: 2;
}
#main {
  margin-top: var(--margin-for-header);
  margin-bottom: var(--margin-for-footer);
  padding-bottom: 1.5rem;
}
#input-place {
  border-radius: 1000000px;
  border: 1px solid #2a476f;
  justify-content: space-between;
  background-color: #ffffff;
  position: relative;
  align-items: center;
  height: 3rem;
}
#fontChanger {
  background-color: #2a476f;
  color: #ffffff;
  border-radius: 1000px 0 0 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.8rem;
  height: calc(100% + 2px);
  width: 50px;
  position: absolute;
  left: -1px;
  top: 0;
}
#userInputPlace {
  border: none;
  height: calc(100% - 0.5rem);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 50px;
  width: calc(100% - 50px - 80px);
}
#userInputPlace:focus {
  outline: none;
}
.btn#userSubmitBtn {
  border-radius: 10000px;
  padding: 0 0.8rem;
  white-space: nowrap;
  height: calc(100% + 2px);
  width: 80px;
  position: absolute;
  top: 0;
  right: -1px;
}
#msgPlace {
  padding: 1rem 1rem 0 1rem;
}

.service-place .head-img {
  /* background: #ffffff;
    width: 50px;
    height: 50px; */
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.service-place .head-img > img {
  width: 50px;
  height: 50px;
}
#msgPlace .service-place .msg-outside,
#msgPlace .user-place .msg-outside {
  width: calc(100% - 3rem);
  position: relative;
  display: flex;
  flex-direction: column;
}
#msgPlace .service-place .msg {
  background-color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  max-width: 50%;
  position: relative;
  margin-top: 1rem;
}
.msg-datetime {
  color: #b5b5b5;
  padding: 0 0 10px 10px;
}
#msgPlace .service-place .msg::before {
  content: '';
  background-image: url('../Images/msg-before.svg');
  width: 15px;
  height: 15px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: -14px;
  top: 10px;
}
#msgPlace .user-place .msg-outside {
  width: calc(100% - 1rem);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* transform: translateX(calc(0px - (1rem + 3rem))); */
  /* transform: translateX(calc(0px - (1rem))); */
}
#msgPlace .user-place .msg {
  background-color: #2b62ad;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  max-width: 50%;
  position: relative;
  margin-top: 1rem;
}

#msgPlace .user-place .msg::after {
  content: '';
  background-image: url('../Images/msg-after.svg');
  width: 15px;
  height: 15px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  right: -14px;
  top: 10px;
}
#fontChanger img {
  width: 1.2rem;
  height: 1.2rem;
}
#userSubmitBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}
#userSubmitBtn img {
  width: 1rem;
  height: 1rem;
  margin-left: 3px;
  transform: translateX(5px);
}

.goto-left-btn,
.goto-right-btn {
  position: absolute;
  top: 50%;
  /* transform: translateY(-50%); */
  border-radius: 5px;
  border: 1px solid #2a476f;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f6ef;
  z-index: 1;
  /* 禁止選取 */
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  font-size: 1.2rem;
}
.goto-left-btn {
  left: 0;
  transform: translate(-50%, -50%);
}
.goto-right-btn {
  right: 0;
  transform: translate(50%, -50%);
}

.recommend-cards {
  width: calc(100% - 1.5rem * 2);
  overflow-x: auto;
  /* padding: 5px 0; */
  scroll-behavior: smooth;
}

.recommend-cards .rec-card:not(:last-child) {
  margin-right: 1rem;
}

.recommend-cards .card-body {
  text-align: center;
}
.recommend-cards .card-body p {
  margin-bottom: 0.5rem;
}
.recommend-cards .rec-card a {
  text-decoration: none;
  color: #2a476f;
}
#fontChangerCard {
  position: absolute;
  top: calc((-2rem * 4));
  left: 2rem;
  display: none;
}
#fontChangerCard ul {
  padding-left: 0;
  margin: 0;
}
#fontChangerCard .card-body {
  padding: 0;
  text-align: center;
}

#fontChangerCard li {
  list-style-type: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#fontChangerCard li:last-child {
  border-bottom: none;
}
#fontChangerCard .font-changer-btn {
  cursor: pointer;
}
.msg p:last-child {
  margin: 0;
}

.small-card {
  border: 1px solid #2a476f;
  /* box-shadow: 2px 2px 5px rgba(0, 0, 0,0.3); */
  border-radius: 1000px;
  white-space: nowrap;
  background-color: #ffffff;
}
.small-card > * {
  padding: 1rem;
}

.card-img-top {
  height: 170px;
  background-size: cover;
  background-position: center;
}

/* @media (min-width: 768px) {
  .recommend-cards::-webkit-scrollbar {
    width: 5px;
    height: 8px;
  }

  .recommend-cards::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 100px;
  }
} */

.response-place {
  padding: 0 10px;
}

.res-great,
.res-bad {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.res-great > svg,
.res-bad > svg {
  width: 20px;
  padding-right: 5px;
}
.res-bad > svg {
  transform: rotate(180deg) scaleX(-1);
}

.res-thanks {
  /* 保留按鈕的間距和框框高度*/
  padding: calc(0.25rem + 1px) 0;
}
.info-place ul {
  list-style-image: url('../Images/android-logo.svg');
}

.multi-answer ul {
  padding: 0;
}

.multi-answer li {
  list-style: none;
  padding: 0.5rem 0;
  border-bottom: 1px dashed #000000;
}

.multi-answer li::before {
  content: '◎';
  padding: 0 0.5rem;
}

.multi-answer li:first-child {
  padding-top: 0px;
}

.multi-answer li:last-child {
  padding-bottom: 0px;
  border-bottom: none;
}

.recommend-cards .card{
  width: 18rem;
}

@media (max-width: 767px) {
  #msgPlace .service-place .msg {
    max-width: 100%;
  }
  #msgPlace .user-place .msg {
    max-width: 100%;
    white-space: normal;
  }
  .recommend-cards {
    width: 100%;
  }
  .goto-left-btn {
    left: 0.5rem;
  }
  .goto-right-btn {
    right: 0.5rem;
  }
  .goto-left-btn,
  .goto-right-btn {
    width: 45px;
    height: 45px;
    font-size: 1.5rem;
  }
  /* #msgPlace .service-place .msg-outside,#msgPlace .user-place .msg-outside {
    width: calc(100% - 3rem);
  } */

  /* .goto-left-btn,
  .goto-right-btn{
    font-size: 0.7rem;
  } */
  /* .recommend-outside > * {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
  } */
  #fontChanger {
    position: fixed;
    left: 100%;
    transform: translateX(-100%);
    top: 0.5rem;
    height: 20px;
  }
  #fontChanger img {
    width: 1rem;
    height: 1rem;
  }
  #userInputPlace {
    left: calc(1.5rem - 10px);
    width: calc(100% - 80px);
  }
  #titleOutside {
    padding: 0.5rem 1rem;
    text-align: left;
  }
  #titleOutside h5 {
    font-size: 1rem;
  }

  .recommend-cards .card{
    width: 15rem;
  }
}

/* 修改bootstrap */
.btn-primary,
.btn-primary:hover,
.btn-primary:focus {
  background-color: #2a476f;
  border-color: #2a476f;
}
.text-primary {
  color: #2a476f !important;
}
.bg-primary {
  background-color: #2a476f !important;
}
.alert {
  margin-bottom: 0;
}

.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hasscrollbar::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}

.hasscrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3); /* color of the scroll thumb */
  border-radius: 100px; /* roundness of the scroll thumb */
}

.btn-outline-dark {
  color: #404040;
  border-color: #404040;
}
/* .btn-outline-dark:hover{
  color: #404040;
  border-color: #404040;
  background: none;
} */
.btn-outline-dark.res-great:hover {
  color: #16a34a;
  border-color: #16a34a;
  background: none;
}
.btn-outline-dark.res-great:hover path {
  stroke: #16a34a;
}
.btn-outline-dark.res-bad:hover {
  color: #dc2626;
  border-color: #dc2626;
  background: none;
}
.btn-outline-dark.res-bad:hover path {
  stroke: #dc2626;
}
.btn-outline-dark path {
  transition: 0.15s;
}
.btn-outline-dark:hover path {
  transition: 0.15s;
}
.btn-outline-dark:focus {
  box-shadow: none;
}
